extends ./_layout.jade

block content
  +top-baner('Жалюзи на любой вкус и цвет', 'большой выбор жалюзи на любой вкус', 'main').top-baner--main
  .row
    .columns
      +title('Добро пожаловать', 'Мы предлагаем только качественный товар от лучших производителей')

      +triple

      +last-product

      +reviews

  +bottom-baner