extends ./_layout.jade

block content
  .row
    .columns
      .page.page--product
        .row
          .columns
            +breadcrumbs
        .row
          .columns
            +product-cart
        .row
          .columns
            +similar-products

  +bottom-baner