.title {
  padding-top: 40px;
  padding-bottom: 80px;

  text-align: center;
  &__top {
    font-family: $TriviaSlabRegular-Bold;
    font-size: rem-calc(60);

    @include breakpoint(medium) {
      font-size: rem-calc(52);
    }
  }
  &__text {
    margin-top: 10px;

    font-size: rem-calc(29);

    @include breakpoint(medium) {
      font-size: rem-calc(21);
    }
    &:after {
      position: relative;

      display: block;

      width: 250px;
      height: 3px;
      margin: auto;
      margin-top: 35px;

      content: "";

      background: $black;
    }
  }
}
