mixin product-block
  a(href="#" title="")
    .product-block
      .product-block__img
        img(src="http://placehold.it/600x600&text=image")
      .product-block__title Модель 07808
      .product-block__cost Цена: 92 000 сум