mixin top-menu(data)
  .top-menu
    a(href="#" title="").top-menu__item Каталог
    a(href="#" title="").top-menu__item Скидки и акции
    a(href="#" title="").top-menu__item Отзывы
    a(href="#" title="").top-menu__item.top-menu__item--accent Связаться с нами