mixin bottom-baner
  .bottom-baner
    .bottom-baner__content
      .bottom-baner-title
        .bottom-baner-title__small Свяжитесь с нами
        .bottom-baner-title__big прямо сейчас!

      .bottom-baner__phone
        span +998 (90) 777 77 77
        span +998 (91) 111 23 45