mixin triple
  .triple
    .row.full.noGutter.text-center
      .columns
        .triple-block
          .triple-block__img
            img(src="%=static=%images/content/triple-catalog.jpg" alt="")
          .triple-block__title Каталог жалюзи
          .triple-block__text Ознакомьтесь с полным ассортиментом представленной на сайте продукции
          a(href="#" title="").button.small.triple-block__btn Перейти в каталог
      
      .columns
        .triple-block
          .triple-block__img
            img(src="%=static=%images/content/triple-actions.jpg" alt="")
          .triple-block__title Специальные акции
          .triple-block__text Приобретайте товары того же качества, но по более выгодным ценам
          a(href="#" title="").button.small.triple-block__btn Акции

      .columns
        .triple-block
          .triple-block__img
            img(src="%=static=%images/content/triple-measurement.jpg" alt="")
          .triple-block__title Бесплатный замер
          .triple-block__text Мы проведем все необходимые замеры перед установкой с невероятной точностью
          a(href="#" title="").button.small.triple-block__btn Вызвать замерщика