mixin footer(data)
    footer.footer
      .row.align-middle
        .columns
          .footer-copyright Copyright 2016
        .columns.text-center
          +logo.logo--black
        .columns.text-right
          .made Разработка: 
            a(href="#" title="") ulabs