mixin last-product
  .last-product
    +title('Новые поступления', '')
    .row
      .columns
        +product-block
      .columns
        +product-block
      .columns
        +product-block
      .columns
        +product-block
    .row
      .columns
        +product-block
      .columns
        +product-block
      .columns
        +product-block
      .columns
        +product-block